.text-color{
    display:flex;
    flex-direction: column;
    font-size: 40px;
    color:chartreuse;
    background-color: darkorange;
    padding:20px;
    margin:40px;

}

p{
    /* display:flex; */
    background-color: darkorchid;
    padding:10px,10px,10px,10px;

}
